<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>欢迎访问用户中心界面</h1>
    <p>
        只有登入了才能访问这个页面，但是，服务器是不能判断到底是哪个用户登入的，所以程序员发明了一种 <strong>cookie</strong> 的技术，用于会话存储，
        但是由于 cookie 有 <strong>缺点</strong>,所以我们使用了一下 <strong>解决cookie 技术的 session技术</strong>,但是由于 session 也有缺点，
        所以我使用 <strong>redis数据库来存储用户信息</strong>来进行持久化存储，并且 redis 有好处，就是从内存中读取，速度快
    </p>

    
</body>

</html>